
body {
    font-family: Arial, sans-serif;
    background-color: #192039;
    min-height: 100vh;
    padding: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:hover {
    background-color: #004080;
}





/* Footer style */
.footer-links {
    text-decoration: none;
  }
  
  .footer-links:hover {
    text-decoration: underline;
  }
  
  .Social-icons {
    font-size: 1.3em;
  }
  
  .Social-icons:hover {
    color: #9598a6;
  }