/* All predefined color, font and style variables are declared here */
:root {
  --dark-blue-bg: #192039;
  --magenta-font-color: #700639;
}

/* This part of code ensures that footers is position at buttom (body and main) */
/* Using flex display property */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("./Home Images/bg2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex-grow: 1;
}

/* custom the color later */
#nav_custom {
  padding: 0%;

}

.bg-dark-custom {
  background-color: var(--dark-blue-bg);
}



/* Hero section styling */
.hero-section {
  background-image: url("./Home Images/bg.png");
  background-size: cover;
  background-position: center;
  color: white;
}

/* Category and featured card styling */
.card {
  border: none;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* Button customization */
.btn-outline-primary,
.btn-primary {
  border-color: #700639;
  color: #700639;
}

.btn-outline-primary:hover,
.btn-primary:hover {
  background-color: #700639;
  color: white;
}

#Explore_all:hover {
  background-color: #28a745;
  border-color: #218838;
  color: #fff;
}

/* style up arrow icon */
#scrollUpBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1px;
  font-size: 35px;
  background: transparent;
  color: #7c7c7c;
  border: none;
  cursor: pointer;
  display: none; 
}

/* style text-banner */
.text-banner {
  font-size: 23px;
  background: #192039; /* Dark blue-gray background */
  padding: 10px;
  color: white; /* White text color */
  border-top: 2px solid #444; /* Slightly darker border for subtle design */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a soft shadow for a premium feel */
}

marquee {
  font-family: 'Times New Roman', Times, serif;
}


/* Footer style */
.footer-links {
  text-decoration: none;
}

.footer-links:hover {
  text-decoration: underline;
}

.Social-icons {
  font-size: 1.3em;
}

.Social-icons:hover {
  color: #9598a6;
}