/* All predefined color, font and style variables are declared here */
:root{
  --dark-blue-bg: #192039; 
  --magenta-font-color: #700639;
}

/* custom the color later */
#nav_custom{
  padding: 0%;

}

.bg-dark-custom{
  background-color: var(--dark-blue-bg);
}

/* .reg-btn-spacing{
  margin-left: 10;
  margin-right: 10!important;
} */

/* .bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
} */

